:root {
  --text-main-color: #000000;
  --text-second-color: #907e82;
  --text-third-color: #ffa5ba;
  --text-fourth-color: #ffffff;

  --bgc-main: #ffffff;
  --bgc-second: #fff5f6;
  --bgc-third: #ffb8ca;
  --bgc-fourth: #f0d1a5;
  --bgc-fifth: #c2e297;
  --bgc-mobile: #e17992;

  --accent-color: #d41443;

  --button-main-hover-color: #ecebeb;
  --button-second-hover-color: #c7133e;

  --hero-circle-color: #ffa5ba;
  --figure-line-color: #e1e1e1;
  --social-icon-bgc: #fea5bb;
  --box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  --mobile-shadow: -8px 0px 20px rgba(0, 0, 0, 0.25);

  --slider-bgc: #fafafa;
  --slider-hover: #c7133e;
  --slider-dots: #d9d9d9;
  --slider-dots-hover: #d31342;

  --transition-time: 300ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}
