.button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  color: var(--accent-color);

  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 50%;

  transition: color var(--transition-time) var(--transition-function),
    border var(--transition-time) var(--transition-function);

  &:hover,
  &:focus {
    border: 2px solid var(--accent-color);
  }

  &--mobile {
    color: var(--bgc-main);

    &:hover,
    &:focus {
      border: 2px solid var(--bgc-main);
    }
  }
}

.button-close__icon {
  stroke: currentColor;
}
