.modal-video {
  position: relative;

  padding: 20px;

  .backdrop--hidden & {
    transform: scale(1.1);
  }

  @include mq(mobile-only) {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  @include mq(tablet) {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    max-width: 650px;

    transform: translate(-50%, -50%) scale(1);

    .backdrop--hidden & {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
  @media screen and (max-height: 900px) and (orientation: landscape) {
    position: static;

    max-width: 750px;
    margin-left: auto;
    margin-right: auto;

    transform: scale(1);

    .backdrop--hidden & {
      transform: scale(1.1);
    }
  }
  @include mq(desktop) {
    max-width: 750px;
  }
}

.modal-video__content {
  display: flex;
  flex-direction: column;
}

.modal-video__list {
  margin-bottom: 20px;
  text-align: start;

  @include mq(tablet) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.modal-video__item {
  line-height: 25px;

  &:not(:first-child) {
    margin-top: 20px;
  }

  &--centered {
    text-align: center;
  }
}

.modal-video__player {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
