.hero {
  padding-top: 193px;
  padding-bottom: 160px;

  background-color: var(--bgc-third);

  overflow: hidden;

  @include mq(tablet) {
    padding-top: 94px;
    padding-bottom: 34px;
  }

  @include mq(desktop) {
    padding-top: 156px;
    padding-bottom: 56px;
  }
}

.hero__container {
  position: relative;
  z-index: 0;

  display: flex;
  justify-content: space-between;
}

.hero__left {
  @include mq(tablet) {
    padding-top: 8px;
  }

  @include mq(desktop) {
    padding-top: 15px;
  }
}

.hero__right {
  @include mq(mobile-only) {
    display: none;
  }
}

.hero__title {
  max-width: 218px;

  font-family: Titan One, sans-serif;
  font-weight: 400;
  @include font-size(26, 29.77, 0.04);
  text-transform: uppercase;

  color: var(--text-fourth-color);

  @include mq(tablet) {
    max-width: 162px;

    @include font-size(22, 25.19, 0.04);
  }

  @include mq(desktop) {
    max-width: 277px;

    @include font-size(38, 43.61, 0.04);
  }
}

.hero__title-accent {
  @include font-size(48, 46.32);
  text-transform: uppercase;
  color: var(--accent-color);

  @include mq(tablet) {
    @include font-size(34, 30.77, 0.04);
  }

  @include mq(desktop) {
    @include font-size(58, 52.49, 0.04);
  }
}

.hero__btn-set {
  display: flex;
  margin-top: 19px;

  @include mq(tablet) {
    margin-top: 20px;
  }

  @include mq(desktop) {
    margin-top: 25px;
  }
}

.hero__btn-item {
  &:not(:first-child) {
    margin-left: 8px;
  }

  @include mq(desktop) {
    &:not(:first-child) {
      margin-left: 15px;
    }
  }
}

.hero__btn {
  display: block;
  min-width: 62px;

  @include font-size(8, 10.42);
  text-align: center;

  @include mq(desktop) {
    min-width: 104px;
    padding: 11px 13px;

    @include font-size(14, 18.23);
  }

  &--big {
    min-width: 83px;

    @include mq(desktop) {
      min-width: 138px;
    }
  }
}

.hero__description {
  @include mq(mobile-only) {
    display: none;
  }

  margin-top: 66px;
  padding-left: 120px;

  @include mq(desktop) {
    margin-top: 112px;
    padding-left: 180px;
  }
}

.hero__text {
  width: 114px;
  margin-bottom: 7px;

  @include font-size(8, 12);
  color: var(--text-fourth-color);

  @include mq(desktop) {
    width: 200px;
    margin-bottom: 20px;
    @include font-size(14, 19.6);
  }
}

.our-numbers {
  text-align: right;
}

.our-numbers__item {
  &:not(:first-child) {
    margin-top: 13px;
  }

  @include mq(tablet-only) {
    &:nth-child(1) {
      padding-right: 10px;
    }
    &:nth-child(2) {
      padding-right: 8px;
    }
  }

  @include mq(desktop) {
    &:not(:first-child) {
      margin-top: 15px;
    }
  }
}

.our-numbers__value {
  position: relative;

  font-family: Titan One, sans-serif;
  @include font-size(28, 32.06, 0.04);
  color: var(--accent-color);

  @include mq(desktop) {
    @include font-size(46, 52.67, 0.04);
  }

  &::after {
    content: '';
    position: absolute;
    top: -2px;
    right: -10px;

    width: 16px;
    height: 16px;

    background-color: var(--bgc-main);
    border-radius: 50%;
    z-index: -1;

    @include mq(desktop) {
      top: -4px;
      right: -18px;

      width: 30px;
      height: 30px;
    }

    &--small-padding {
      @include mq(tablet-only) {
        right: -8px;
      }
    }
  }
}

.our-numbers__text {
  @include font-size(8, 10.42);
  color: var(--text-fourth-color);

  @include mq(desktop) {
    margin-top: 2px;
    @include font-size(14, 18.23);
  }
}

.hero__img-milk {
  @include mq(mobile-only) {
    display: none;
  }

  position: absolute;
  left: 36px;
  bottom: -6px;
  z-index: 1;

  @include mq(desktop) {
    left: 77px;
    bottom: -11px;
  }
}

.hero__img-ice-cream {
  position: absolute;
  right: 32px;
  bottom: -160px;
  z-index: -1;

  animation: ice-cream 2500ms 1 linear;

  @include mq(tablet) {
    right: 247px;
    bottom: -34px;
  }

  @include mq(desktop) {
    right: 450px;
    bottom: -56px;
  }

  @keyframes ice-cream {
    0% {
      transform: translateY(100%);
    }
    40% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: -9px;
    left: -81px;
    z-index: -1;

    width: 346px;
    height: 344px;

    background-color: var(--hero-circle-color);
    border-radius: 50%;

    animation: circle 3700ms 1 var(--transition-function);

    @include mq(tablet) {
      top: -32px;
      left: -71px;

      width: 324px;
      height: 322px;

      animation: circle 5500ms 1 linear;
    }

    @include mq(desktop) {
      top: -56px;
      left: -119px;

      width: 538px;
      height: 538px;
    }

    @keyframes circle {
      0% {
        transform: scale(8);
      }
      60% {
        transform: scale(8);
      }
      100% {
        transform: scale(1);
      }
    }
  }
}

.hero__img-squirrel {
  @include mq(mobile-only) {
    display: none;
  }

  position: absolute;
  right: 34px;
  bottom: -34px;
  z-index: 1;

  cursor: pointer;

  transition: transform var(--transition-time) ease-out;

  animation: squirrel 7000ms linear;
  animation-iteration-count: 1;

  @include mq(desktop) {
    right: 109px;
    bottom: -56px;
  }

  @keyframes squirrel {
    0% {
      transform: translate(30%, 100%);
    }
    12% {
      transform: translate(30%, 100%);
    }
    30% {
      transform: translate(30%, 65%);
    }
    45% {
      transform: translate(30%, 65%);
    }
    60% {
      transform: translate(30%, 100%) skew(10deg);
    }
    62% {
      transform: translate(15%, 35%) skew(15deg);
    }
    64% {
      transform: translate(7%, -10%) skew(10deg);
    }
    66% {
      transform: translate(0, 0);
    }
    94% {
      transform: rotate(0deg);
    }
    95% {
      transform: rotate(3deg);
    }
    96% {
      transform: rotate(0deg);
    }
    97% {
      transform: rotate(-3deg);
    }
    98% {
      transform: rotate(0deg);
    }
    99% {
      transform: rotate(3deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  &:hover {
    transform: rotate(3deg);

    & ~ .love-animation .love-animation__heart:nth-child(1) .love-animation__icon {
      animation: heartUp 1400ms 7250ms infinite ease-in;
    }

    & ~ .love-animation .love-animation__heart:nth-child(2) .love-animation__icon {
      position: absolute;
      left: 1rem;
      animation: heartUp 1400ms 7500ms infinite ease-in;
    }

    & ~ .love-animation .love-animation__heart:nth-child(3) .love-animation__icon {
      position: absolute;
      left: 0.5rem;
      animation: heartUp 1400ms 7750ms infinite ease-in;
    }
  }
}

.love-animation {
  position: absolute;
  bottom: -100px;
  right: 10px;
  width: 4rem;
  height: 2rem;

  @include mq(tablet) {
    bottom: 30px;
    right: 110px;
  }

  @include mq(desktop) {
    bottom: 100px;
    right: 250px;
  }
}

.love-animation__heart {
  position: absolute;

  &:nth-child(1) .love-animation__icon {
    opacity: 0;
    animation: heartUp 1400ms 1800ms 1 ease-in;
  }

  &:nth-child(2) .love-animation__icon {
    left: 1rem;
    opacity: 0;
    animation: heartUp 1400ms 2100ms 1 ease-in;
  }

  &:nth-child(3) .love-animation__icon {
    left: 0.5rem;
    opacity: 0;
    animation: heartUp 1400ms 2400ms 1 ease-in;
  }
}

.love-animation__icon {
  fill: #f58d9c;
}

@keyframes heartUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0) rotate(10deg);
  }
  50% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    transform: translate3d(0, -35vh, 0) scale(1.2) rotate(-10deg);
  }
  100% {
    opacity: 0;
  }
}
#next {
  display: none;
}
